header {
    display: flex;
    width: 100%;
    height: 7rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #5DBEA3;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: auto;
    font-family: Arial, sans-serif;
    color: black;
    background-color: white;
    transition: background-color 1s;
}

body .disabled {
    color: grey
}

form {
    display: flex;
    flex-direction: column;
    min-width: 80%;
    max-width: 80%;
}

.form-select>input,
select,
button {
    width: 100%;
    text-align: center;
    height: 4.3rem;
    align-items: center;
    color: #3b4255;
    font-family: Arial;
    font-size: 1.5rem;
    font-weight: 600;
}

.form-select{
    border: 0.1rem solid #000;
    display: flex;
    position: relative;
    align-items: center;
}

.form-select select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dropDownArrow {
    margin: 0 1rem;
    right: 0rem;
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 1.2rem 0.8rem 0 0.8rem;
    border-color: rgba(0, 0, 0, 0.25) transparent transparent transparent; 
    pointer-events: none;
}

input,
select,
button{
    padding-inline: 0;
    padding-block: 0rem;
    border: 0;
}

#hk80Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

button {
    color: white;
    border-radius: 10rem;
    border-width: 0;
    background-color: #5DBEA3;
}

.Googlebtn {
    background-color: #4787F3;
}

.Applebtn {
    background-color: black;
    color: white;
}

.Appltbtn-dark {
    filter: invert(1);
}

.travelOptContainer {
    width: calc(100% + 4rem);
    margin-left: -2rem;
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 1.5rem;
}

.customFont {
    font-size: 1.5rem;
    font-weight: 600;
}

#github-container {
    margin: auto 2rem 2rem auto;
    position: relative;
    border: 0;
}

.github,
.github-white {
    width: 3.2rem;
    /* adjust as needed */
}

.github-white {
    position: absolute;
    inset: 0;
}

.github-icon {
    opacity: 1;
    transition: 1s ease-out;
}

.animate-github-icon {
    filter: invert(1) brightness(2);
}

#datetime {
    margin: auto 0 auto 2rem;
    font-size: 1.3rem;
    font-weight: bolder;
}

#themeBtn {
    position: relative;
    margin: auto 2rem auto 0;
    width: 3rem;
}

.sun,
.moon {
    width: inherit;
}

.moon {
    position: absolute;
    inset: 0;
}

.sun-icon {
    opacity: 1;
    transform: translateY(0) rotateZ(0deg);
    transition: all 1s ease-out;
}

.animate-sun {
    opacity: 0;
    transform: translateY(110%) rotateZ(100deg);
}

.moon-icon {
    opacity: 0;
    transform: translateY(110%) rotateZ(50deg);
    filter: invert(1);
    transition: all 1s ease-out;
}

.animate-moon {
    opacity: 1;
    transform: translateY(0%) rotateZ(0deg);
}

.dark-mode {
    background-color: #3b4255;
    color: white;
}


@media screen and (max-width: 450px) {
    label {
        font-size: 1.2rem !important;
    }
}